<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/servicesstyle.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>FitHit</title>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
</head>

<body>
    <section class="nav-top">
        <nav>
            <ul>
                <div class="logo"><img src="../static/img/logo1.png" alt="Logo"></div>
                <li> <a href="/">HOME</a></li>
                <li> <a href="/about">ABOUT</a></li>
                <li> <a class="active" href="/services">SERVICES</a></li>
                <li> <a href="/contact">CONTACT US</a></li>

                <i class="fa fa-search">
                    <input type="text" name="search" id="search" placeholder="Search this website"> </i>
                <button class="btn btn-sm">Search</button>

                <button onclick="openLoginForm()" class="btn btn-sm login">
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <i class="fa fa-user" style="padding-left: 5px;"></i>
                        <p>Account</p>
                    </div>
                </button>
                <div class="login-form-container" id="login-form-container">

            </ul>
            <hr>
        </nav>
    </section>
    <section class="top1">
        <section class="inner1">
            <div class="line-1">
                <hr>
            </div>
            <section class="inner2">
                <img src="https://source.unsplash.com/550x400/?health,healthy-life,healthy-food" alt="laptop image"
                    class="imgFluid">
                <p>In the realm of fitness, healthy food serves as a cornerstone for achieving and maintaining optimal physical performance. It is the fuel that propels us towards our fitness goals and supports our body in countless ways. A balanced intake of macronutrients, including carbohydrates, proteins, and fats, is essential. Carbohydrates provide the energy needed for intense workouts, while proteins assist in muscle repair and growth. Healthy fats, such as those found in avocados and nuts, play a crucial role in hormone production and nutrient absorption.

                    Beyond macronutrients, the nutrient density of our food choices is of utmost importance. Opting for whole grains, fresh fruits and vegetables, lean meats, and dairy products ensures that we receive a wide array of vitamins, minerals, and antioxidants. These vital nutrients bolster our immune system, support efficient recovery from workouts, and promote overall well-being.</p>
            </section>
        </section>
    </section>

    <div id="s">
        <h1>Products</h1>
        <div id="shubham">
            <div class="products">
                <div class="product">
                    <div class="image">
                        <img src="../static/img/images/wheyprotein.png" alt="">
                    </div>
                    <div class="namePrice">
                        <h3>Whey Protein</h3>
                        <span>$ 19.99</span>
                    </div>
                    <p>Whey protein is a supplement that people use alongside resistance exercise to help boost muscle protein synthesis and the growth of lean muscle mass.</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="bay">
                        <button onclick="window.location.href = 'source_payment';" target="_blank"> buy now </button>
                    </div>
                </div>

                <div class="product">
                    <div class="image">
                        <img src="../static/img/images/proteinbars.png" alt="">
                    </div>
                    <div class="namePrice">
                        <h3>Protein Bars</h3>
                        <span>$ 6.99</span>
                    </div>
                    <p>Protein bars are healthy snacks since they provide quick protein and other nutrients to your body to replenish lost nutrients and to satisfy hunger.</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="bay">
                        <button onclick="window.location.href = 'source_payment';" target="_blank"> buy now </button>
                    </div>
                </div>

                <div class="product">
                    <div class="image">
                        <img src="../static/img/images/proteincookies.png" alt="">
                    </div>
                    <div class="namePrice">
                        <h3>Cookies</h3>
                        <span>$ 5.99</span>
                    </div>
                    <p>Protein cookies are a convenient and tasty snack option that can provide high nutrition and protein.</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="bay">
                        <button onclick="window.location.href = 'source_payment';" target="_blank"> buy now </button>
                    </div>
                </div>

                <div class="product">
                    <div class="image">
                        <img src="../static/img/images/carbogainer.png" alt="">
                    </div>

                    <div class="namePrice">
                        <h3>Carbo Gainer</h3>
                        <span>$ 20.99</span>
                    </div>
                    <p>Gainer help to sustain energy levels during endurance-oriented workouts and/or athletic events and support weight gain.</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="bay">
                        <button onclick="window.location.href = 'source_payment';" target="_blank"> buy now </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="main.js"></script>

    </div>



    <div id="shubham2">
        <h1 class="heading">Get Your Plan ready</h1>

        <section class="main-container">
            <div class="card-container">
                <div class="pricing-card card-01">
                    <div class="pricing">
                        <div class="price">
                            <sup>$</sup>
                            <span>12</span>
                        </div>
                        <p>/month</p>
                        <span class="type">Basic</span>
                    </div>
                    <div class="card-body">
                        <div class="top-shape"></div>
                        <div class="card-list">
                            <div class="card-sub-list">
                            <ul>
                                <li>Perfect for Beginners</li>
                                <li>Limited Access to yoga Classes</li>
                                <li>Gym Access for 24/7</li>
                                <li>No Gym Trainer</li>
                                <li>No Jumba Classes</li>
                            </ul>
                           </div>

                           
                        </div>
                        <div class="div_btn18"> <button class="buy-btn btn1" onclick="window.location.href = 'source_payment';" target="_blank">Buy Now</button></div>
                       
                    </div>
                    <div class="ribbon"></div>
                </div>
                <div class="pricing-card card-02">
                    <div class="pricing">
                        <div class="price">
                            <sup>$</sup>
                            <span>20</span>
                        </div>
                        <p>/month</p>
                        <span class="type">Pro</span>
                    </div>
                    <div class="card-body">
                        <div class="top-shape"></div>
                        <div class="card-list">
                            <div class="card-sub-list">
                            <ul>
                                <li>Perfect for Beginners</li>
                                <li>Unlimited Access to yoga Classes</li>
                                <li>Gym Access for 24/7</li>
                                <li>No Gym Trainer</li>
                                <li>Jumba Classes twice in a week</li>
                            </ul>
                           </div>

                           
                        </div>
                        <div class="div_btn18"> <button class="buy-btn btn2" onclick="window.location.href = 'source_payment';" target="_blank">Buy Now</button></div>
                    </div>
                    <div class="ribbon"></div>
                </div>
                <div class="pricing-card card-03">
                    <div class="pricing">
                        <div class="price">
                            <sup>$</sup>
                            <span>25</span>
                        </div>
                        <p>/month</p>
                        <span class="type">Premium</span>
                    </div>
                    <div class="card-body">
                        <div class="top-shape"></div>
                        <div class="card-list">
                            <div class="card-sub-list">
                            <ul>
                                <li>Unlimited usage of locker rooms</li>
                                <li>15% off in Your Product</li>
                                <li>Gym Trainer Available</li>
                                <li>Jumba Classes per day in a week</li>
                                <li>Sonar is Available at 5% <span style = "font-weight: bold;">OFF</span></li>
                            </ul>
                           </div>

                           
                        </div>
                        <div class="div_btn18"> <button class="buy-btn btn3" onclick="window.location.href = 'source_payment';" target="_blank">Buy Now</button></div>
                    </div>
                    <div class="ribbon"></div>
                </div>
            </div>
        </section>
    </div>

    <section class="sec3">
        <h1>Advancing health for everyone, every day!</h1>
        <div class="box2">
            <div class="inner-sec3">
                <div class="col">
                    <i class="fa fa-users dblue"></i>
                    <div class="inner-col inner-col-dblue">
                        <h1>Visitors</h1>
                        I recently embarked on a transformative fitness journey at Fit-Hit Gym, and I couldn't be more thrilled with the experience.This gym is more than just a place to work out—it's a sanctuary of motivation, support, and empowerment.
                    </div>
                </div>
                <div class="col">
                    <i class="fa fa-stethoscope lblue"></i>
                    <div class="inner-col inner-col-lblue">
                        <h1>Health Professionals</h1>
                        The health professional at Fit-Hit Gym possessed an extensive knowledge base, keeping up with the latest research and trends in the field. Their ability to translate complex information into practical advice was truly impressive. 
                    </div>
                </div>
                <div class="col">
                    <i class="fa fa-flask yellow"></i>
                    <div class="inner-col inner-col-yellow">
                        <h1>Trainers</h1>
                           As a Trainer working in Fit hit Gym, I have a good experience of working in gym. I do lot of hard work to make people healthy and stays motivated in life.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/7b7a748413.js" crossorigin="anonymous"></script>

    <section class="bottom">
        <div class="line-2">
            <hr>
        </div>
        <div class="inner-box-2">
            <div class="inner3">
                <i class="fa fa-heart"></i>
            </div>
        </div>

        <h1>Make a Difference</h1>
        <p style = "text-align: center;">Let Build a Healthy Evironment for Your Healthy to Stay Fit and Stay Motivated by Joining Your Gym Which Provide all Facilities Which is Necessary to Stay Fit.</p>
    </section>

    <script>
        function openLoginForm() {
            window.location.href = "/login";
        }
    </script>
</body>

<footer>Copyright © 2023 - All rights reserved</footer>

</html>