<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp Page</title>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/loginStyle.css" />
    <script
      src="https://kit.fontawesome.com/7b7a748413.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="containWrap">
        <h1>Sign up</h1>
        <form action="/signup" method="post" class="myForm">
          <div class="box">
            <i class="fa fa-user"></i>
            <input
              type="text"
              name="fName"
              id="fname"
              placeholder="First Name"
            />
          </div>
          <div class="box">
            <i class="fa fa-user"></i>
            <input
              type="text"
              name="lName"
              id="lname"
              placeholder="Last Name"
            />
          </div>
          <div class="box">
            <i class="fa fa-envelope"></i>
            <input
              type="email"
              name="username"
              id="email"
              placeholder="elonmusk@spacex.com"
            />
          </div>
          <div class="box">
            <i class="fa fa-key"></i>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Enter Your Password"
            />
          </div>
          <div class="box">
            <i class="fa fa-key"></i>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="Enter Password Again"
            />
          </div>
          <div style="text-align: center">
            <button class="btn">Create</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
